{% extends "layout.html" %}
{% block content %}
<body ng-app="applications">
    <div class="container" ng-controller="apps">
        <img src="images/fc-logo.png" alt="Full Candidate" width="250" class="img-responsive" style="margin: 0 auto;">
        <h3 class="text-center">Applications created by you (<span id="appCount">0</span>)</h3>
        <div class="text-center">
            <div class="btn-group">
                <button type="button" class="btn btn-primary" ng-click="createApplicationForm()">Create application</button>
                <button type="button" class="btn btn-default" onclick="window.location='logout';">Log out</button>
            </div>
        </div>
        <div ng-init="getApplications()">
            <div id="appHolder"></div>
        </div>
    </div>
    <div class="container-fluid">
        <div id="myModal" class="modal fade" role="dialog"></div>
    </div>
    <div id="footer" onclick="window.location='https://twitter.com/thedustmakers';"></div>
</body>
{% endblock %}