{% extends "layout.html" %}
{% block content %}
<body ng-app="registration">
    <div class="container" ng-controller="create">
        <img src="images/fc-logo.png" alt="Full Candidate" width="250" class="img-responsive" style="margin: 0 auto;cursor:pointer;" onclick="window.location='home';">
        <h3>Create a company account</h3>
        <form method="post" action="create_account" autocomplete="off" name="accountform">
            <div class="form-group">
                <label for="compname">Company name</label>
                <input type="text" class="form-control" id="compname" name="user_name" placeholder="Enter a valid company name" required>
            </div>
            <div class="form-group">
                <label for="email">Official email address</label>
                <input type="email" class="form-control" id="email" name="user_email" placeholder="Enter a valid email ID" required>
            </div>
            <div class="form-group">
                <label for="pwd">Password</label>
                <input type="password" class="form-control" id="pwd" name="user_password" placeholder="Enter a valid password" required>
            </div>
            <div class="form-group">
                <label for="pwd2">Repeat password</label>
                <input type="password" class="form-control" id="pwd2" name="user_password2" placeholder="Repeat the above password" required>
            </div>
            <button type="button" class="btn btn-primary" ng-click="validateForm()">Create account</button>&nbsp;&nbsp;<input type="button" value="Already have an account?" class="btn" onclick="window.location='login';">
        </form>
    </div>
    <div class="container-fluid">
        <div id="myModal" class="modal fade" role="dialog"></div>
    </div>
    <div id="footer" onclick="window.location='https://twitter.com/thedustmakers';"></div>
</body>
{% endblock %}